.parentContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
}

.parentContainer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.parentContainer h1 {
  font-size: clamp(24px, 5vw, 44px);
}

@media (max-width: 786px) {
  .parentContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-link-nav {
  color: #333;
  text-decoration: none;
  font-size: clamp(9px, 2vw, 14px);
}

.nav-link-nav.active {
  color: #007bff;
  text-decoration: none !important;
  font-weight: bold;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px 0px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 370px;
}

.Card-img .img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 16px;
}

.Card-title {
  height: 30px;
  display: flex;
  align-items: center;
}

.card-title {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.card-text {
  color: rgba(0, 0, 255, 0.603);
  text-align: left;
  font-weight: bold;
}

.btn-view-more {
  background: linear-gradient(45deg, #1c45c1, #007bff);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.me-1 {
  margin-top: -2px;
}
